
table.checklist {
	width: 98%;
}

tr.checklistItem {
	vertical-align: middle;
}

tr.checklistItem.header {
	border-bottom: 1px solid grey;
}

tr.checklistItem h1, 
tr.checklistItem h2, 
tr.checklistItem h3, 
tr.checklistItem h4, 
tr.checklistItem h5 {
	margin-top : 1px !Important;
	margin-bottom: 1px !Important;
}

tr.checklistItemDescription {
	display: None;

}

td.checklistItemChecked {
	padding-left: 0px !Important;
	padding-right: 2px !Important;
	width: 16px;
	text-align: left !Important;
	vertical-align: top;
}

td.checklistItemPinned {
	margin: 0px 0px 0px 0px;
	width: 10px;
	background-image: url("../../../../../images/newskin/action/icon_pin_grey.png");
	background-repeat: no-repeat;
	background-position-y: 5px; 
}

td.checklistItemLabel {
	width: 95%;
	text-align: left;
	padding-left: 0px !Important;
	padding-right: 0px !Important;
}

td.checklistHeader {
	text-align: left;
	padding-left: 0px !Important;
	padding-right: 0px !Important;
}

td.checklistItemDescription {
	vertical-align: top;
	text-align: left;
	padding-left: 0px !Important;
	padding-right: 0px !Important;
}

a.checklistItemDescription {
	margin-left: 5px;
	margin-right: 5px;
	background-repeat: no-repeat;
	float: right;
	width: 16px;
	height: 16px;
	background-position-y: 5px; 
}

a.checklistItemDescription.show {
	background-image: url("../../../../../images/newskin/action/diff-expand.png");
}

a.checklistItemDescription.hide {
	background-image: url("../../../../../images/newskin/action/diff-collapse.png");
}



