
table.checklist {
	width: 98%;
}

tr.checklistItem {
	vertical-align: middle;
}

tr.checklistItem.header {
	border-bottom: 1px solid grey;
}

tr.checklistItem h1, 
tr.checklistItem h2, 
tr.checklistItem h3, 
tr.checklistItem h4, 
tr.checklistItem h5 {
	margin-top : 1px !Important;
	margin-bottom: 1px !Important;
}

tr.checklistItemDescription {
	display: None;

}

td.checklistItemChecked {
	padding-left: 0px !Important;
	padding-right: 2px !Important;
	width: 16px;
	text-align: left !Important;
	vertical-align: top;
}

td.checklistItemLabel {
	width: 95%;
	text-align: left;
	padding-left: 0px !Important;
	padding-right: 0px !Important;
}